/*ALGEMEEN*/
.background {
    background-color: rgb(40,80,88);
}

.centerScreen {
    margin-top: 200px;
}

.card-title {
    font-family: 'Quicksand', sans-serif;
}

h1.card-title {
    font-size: 50px;
}

.btn {
    background-color: RGB(39,79,87);
    border: 0px;
    color: RGB(255, 255, 255);
}

.btn:hover {
    background-color: RGB(51,71,75);
    color: RGB(255, 255, 255);
}

a {
    color: RGB(39,79,87);
}

a:hover {
    color: RGB(39,79,87);
    text-decoration: underline; 
}

.textfields {
    margin-top: 30px;
}

.textfields .form-control {
    padding: 20px;
    border: 2px solid RGB(218,218,218);
}

.fa-star, .fa-trophy, .fa-coins, .fa-crown, .fa-user {
    font-size: 50px;
    color: rgb(255, 255, 0);
}

/*INDEX & SIGNUP*/
.getstarted {
    margin-top: 200px;
    width: 450px;
    height: 550px;
}

.backgroundStart {
    background-image: url(/assets/images/cards-1030852_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn-getstarted{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

#noAccount {
    margin-top: 125px;
}

/*HOME*/
.centerScreen .card {
    margin-bottom: 20px;
    
}

/*TOURNAMENT & TOURNAMENTADMIN*/

.tournament {
    margin-top: 200px;
}

/*Chips*/
.chip {
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.chip#red {
    background-color: rgb(230, 35, 25);
}

.chip#green {
    background-color: rgb(8, 158, 75);
}

.chip#blue {
    background-color: rgb(33,54,107);
}

.chip#black {
    background-color: rgb(0, 0, 0);
}

.inputNumber {
    margin-bottom: 15px;
}

/*SPEELSCHERM*/
#spelregels, #fiches, #rebuy, #quit {
    background-color: white;
    color: black;
    margin-left: 20px;

}
/*img {
  width: 70%;
  height: auto;
}
.pokertable{
	background-image: url('example.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:200px;
	width:200px;
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
/*.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
    
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
/*.row.content {
    height: 450px;
}
    
/* Set gray background color and 100% height */
/*.sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
/* Set black background color, white text and some padding */
/*footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
    
/* On small screens, set height to 'auto' for sidenav and grid */
/*@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
}
.row.content {
    height:auto;
} 

#container {
    width: 600px;
    height: auto;
  }
  
  .row {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #AFAFAF;
  }
  
  .name {
    position: relative;
    display: inline-block;
    width: 75%;
    line-height: 45px;
  }
  
  .score {
    position: relative;
    display: inline-block;
    width: 25%;
  }*/


/*EINDSCHERM*/


